{% extends 'layout.html.twig' %}

{% block title %}3, 2, 1... Fight !{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% if egg.name is defined %}
            <div class="card card_egg">
                <div class="card-image fight_image">
                    <img src="{{ egg.image }}">
                </div>
                <div class="card-content">
                    <p>{{ egg.name }}</p>
                    <p>Calibre: {{ egg.caliber }}</p>
                    <p>Code Farming: {{ egg.farming }}</p>
                </div>
            </div>
        {% endif %}

        <div class="card card_fight">
            <div class="card-image fight_image">
                <img src="{{ characters.image }}">
            </div>
            <div class="card-content fight_name">
                <p class="p_name">{{ characters.name }}</p>
                <p class="hp_fight">PV = {{ pvPerso1 }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/fight/show/1"><button class="waves-effect waves-light btn-small pick_me">Pioche ton Oeuf</button></a>
        {% if egg.name is defined %}
            <a href="/fight/show/3" ><button class="waves-effect waves-light btn-small pick_me">Balance ton Oeuf</button></a>
        {% endif %}
    </div>
</div>
    <div class="container">
        <div class="row justify-content-end">
    {% if player1=="" and player2=="" %}
    <p>JOUEUR 1, A TOI DE JOUEUR</p>
    {% endif %}
    {% if player1 ==1 %}
    <p>JOUEUR 1, A TOI DE JOUEUR</p>
    {% endif %}
    {% if player2 == 2 %}
        <p>JOUEUR 2, A TOI DE JOUEUR</p>
    {% endif %}
        </div>
    <div class="row justify-content-center">
    {% if pvPerso1 <= 30 or pvPerso2 <= 30 and imageMael==""%}
        <a href="/fight/show/5"><button class="waves-effect waves-light btn-small pick_me">Balance ton Prof!</button></a>

    {% endif %}

    {% if imageMael is defined %}
        
        <img src="{{ imageMael }}">
        <span></span>
    {% endif %}
        {% if pvPerso1<=0 %}
        <p>Le joueur 2 gagne...</p>
        <a href="/choice/deco">Recommencer une partie?</a>
        {% endif %}
        {% if pvPerso2<=0 %}
            <p>Le joueur 1 gagne...</p>
            <a href="/choice/deco" class="waves-effect waves-light btn-small pick_me">Recommencer une partie?</a>
        {% endif %}
    </div>
    </div>
<div class="container">
    <div class="row">
        {% if egg2.name is defined %}
            <div class="card card_egg">
                <div class="card-image fight_image">
                    <img src="{{ egg2.image }}">
                </div>
                <div class="card-content">
                    <p>{{ egg2.name }}</p>
                    <p>Calibre: {{ egg2.caliber }}</p>
                    <p>Code Farming: {{ egg2.farming }}</p>
                </div>
            </div>
        {% endif %}

        <div class="card card_fight">
            <div class="card-image fight_image">
                <img src="{{ characters2.image }}">
            </div>
            <div class="card-content fight_name">
                <p class="p_name">{{ characters2.name }}</p>
                <p class="hp_fight">PV = {{ pvPerso2 }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/fight/show/2"><button class="waves-effect waves-light btn-small pick_me">Pioche ton Oeuf</button></a>
        {% if egg2.name is defined %}
            <a href="/fight/show/4" ><button class="waves-effect waves-light btn-small pick_me">Balance ton Oeuf</button></a>
        {% endif %}
    </div>
</div>

{% endblock %}