{% extends 'layout.html.twig' %}

{% block title %}3, 2, 1... Fight !{% endblock %}

{% block content %}

<div class="container-fluid">

        <!-- CARD OEUF -->
        {% if egg.name is defined %}
        <div class="row">
            <div class="col s2">
                <div class="card card_choice">
                    <div class="card-image choice_image">
                        <img src="{{ character.image }}" class="img w-100">
                    </div>
                    <div class="card-content choice_name">
                        <p class="p_name">{{ character.name }}</p>
                        <p class="species">{{ character.species }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card small">
                    <div class="card-image">
                        <img src="https://via.placeholder.com/20x20">
                    </div>
                    <div class="card-content">
                        <p>{{ egg.name }}</p>
                        <p>Calibre: {{ egg.caliber }}</p>
                        <p>Code Farming: {{ egg.farming }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- CARD PERSO-->
        <div class="col">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>{{ characters.name }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="http://via.placeholder.com/30x30">
            <a href="/fight/show/1"><button >pioche ton <del>porc</del> Oeuf</button></a>
            {% if egg.name is defined %}
            <a href="/fight/show/3"><button >balance ton <del>porc</del> Oeuf</button></a>
            {% endif %}
            <!-- if code==3 alors applique les dégâts au perso 2 (à mettre dans le controller) -->
        </div>

        <div class="col-xl3">
            <div class="character_stats">
                <p>Nom</p>
                <p>HP</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        {% if egg2.name is defined %}
        <div class="col right">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>{{ egg2.name }}</p>
                    <p>Calibre: {{ egg2.caliber }}</p>
                    <p>Code Farming: {{ egg2.farming }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col right">
            <div class="card small">
                <div class="card-image">
                    <img src="https://via.placeholder.com/20x20">
                </div>
                <div class="card-content">
                    <p>{{ characters2.name }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col right">
            <img src="http://via.placeholder.com/30x30">
            <a href="/fight/show/2"><button >pioche ton <del>porc</del> Oeuf 2</button></a>
            {% if egg2.name is defined %}
            <a href="/fight/show/4"><button >balance ton <del>porc</del> Oeuf</button></a>
            {% endif %}
            <!-- if code==4 alors applique les dégâts au perso 1 (à mettre dans le controller) -->
        </div>

        <div class="col right">
            <div class="character_stats">
                <p>Nom</p>
                <p>HP</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}